body {
  background-color: white;
  background-image: url(../imagenes/tetete.png);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  font-size: 10px;
}

header {
  margin-bottom: 40%;
}

.panel1-container {
  float: right;
  width: 25%;
  height: auto;
  margin-bottom: 8em;
}

.panel1 {
  float: right;
  width: 100%;
  height: auto;
}

/*LOGO BEINHORN*/
.diafragma-div {
  width: 5%;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.diafragma {
  max-width: 100%;
  height: auto;
}

.diafragma-div :hover {
  transform: rotate(360deg);
  transition: transform 3s;
}

/*Navbar*/
.navbar {
  padding: 0px;
}

.container-fluid {
  height: 70px;
  font-size: 2em;
  font-family: "Bad Script", cursive;
  position: absolute;
  top: 0em;
}

.navbar-toggler {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

li {
  margin: 0 1em 0 1em;
}

.show {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.818);
  border-radius: 1em;
  margin-right: 80%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-item:hover {
  animation: glowing 5000ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #ffa0a8;
    border-radius: 1em;
  }
  40% {
    box-shadow: 0 0 20px #ffa0a8;
    border-radius: 1em;
  }
  100% {
    box-shadow: 0 0 -10px #ffa0a8;
    border-radius: 1em;
  }
}
.navbar-brand {
  margin: 0.5em 0em 0.5em 2.5em;
  font-size: 1.4em;
  font-family: "Tangerine", cursive;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.818);
  border-radius: 0.5em;
  border: 0.1em solid #ffcccc;
  padding: 0 0.43em 0 0.43em;
}

/*-----SOBRE MI-----*/
.texto-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1em;
  border: 0.5em solid #ffcccc;
  padding: 5em;
}

/* Texto informativo*/
.cuerpo-texto {
  width: 90%;
  max-height: 100%;
  margin: 0 auto;
}

.titulo-seccion {
  text-align: center;
  font-size: 2.5vw;
  font-family: "Open Sans Condensed";
}

.subtitulo1 {
  text-align: center;
  margin-top: 2.9em;
  font-size: 2.5vw;
  font-family: "Open Sans Condensed";
  font-weight: bold;
}

.parrafo1 {
  text-align: justify;
  font-size: 2vw;
  font-family: "Open Sans Condensed";
}

/*Carrusel de Bootstrap*/
.carousel {
  max-width: 40em;
  margin: 0 auto;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*SOBRE NOSOTROS*/
.seccion-fotografa {
  background: white;
  border-radius: 1em;
  border: 0.5em solid #ffcccc;
  padding: 4em;
  display: flex;
  flex-direction: row;
}

.joven-texto {
  width: 80%;
  max-height: 100%;
}

.fotografa {
  width: 85%;
}

/*Fondo de bebe rugiendo*/
.leona-container {
  background-image: url("imagenes/lulu-roar.png");
}

.lulu-ruge {
  width: 100%;
}

/*----- GALERIA-----*/
.galeria-container {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1em;
  border: 0.5em solid #ffcccc;
}

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

.contenido-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----RESERVA TU SESION-----*/
/* Redes sociales*/
.redes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 1em;
  border: 0.5em solid #ffcccc;
  padding: 10em 0 10em 0;
}

/*FORMULARIO*/
.form {
  background-color: #fff5f5;
  border: 0.1em solid #ffcccc;
  border-radius: 0.3m;
  width: 80%;
  padding: 1em;
  margin: 1em 0 4em 0;
}

.form-row {
  margin-bottom: 4em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text] {
  background-color: white;
  border: 0.1em solid pink;
  border-radius: 0.3em;
  width: 100%;
  padding: 0.7em;
  font-size: 1.5em;
}

.form-row label {
  margin: 1.5em 0;
}

.animation-container {
  display: flex;
  justify-content: center;
}

.redes {
  max-width: 100%;
  margin: 5em;
}

.animation-container :hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
/* -----QUERY MEDIA-----*/
@media only screen and (max-width: 399px) {
  header {
    margin-bottom: 70%;
  }

  .panel1-container {
    margin-bottom: 14em;
  }

  .diafragma-div {
    top: 6em;
    width: 11%;
  }

  .show {
    margin-right: 40%;
  }

  .navbar-brand {
    margin-bottom: 1em;
    margin-left: 1.8em;
  }

  .carousel {
    max-width: 160px;
  }

  .texto-container {
    padding: 0.5em;
  }

  .titulo-seccion {
    font-size: 7vw;
  }

  .subtitulo1 {
    font-size: 5.5vw;
  }

  .parrafo1 {
    font-size: 4.5vw;
  }

  .seccion-fotografa {
    display: flex;
    flex-direction: column;
  }

  .joven-texto {
    width: 100%;
  }

  .fotografa {
    width: 50%;
    margin-left: 7em;
  }

  .galeria {
    grid-template-columns: auto auto;
  }

  .boton-volver {
    right: 0.5em;
  }
}
@media only screen and (min-width: 400px) and (max-width: 460px) {
  header {
    margin-bottom: 60%;
  }

  .panel1-container {
    margin-bottom: 14em;
  }

  .diafragma-div {
    top: 6em;
    width: 11%;
  }

  .show {
    margin-right: 45%;
  }

  .navbar-brand {
    margin-bottom: 1em;
    margin-left: 2.5em;
  }

  .carousel {
    max-width: 160px;
  }

  .texto-container {
    padding: 0.5em;
  }

  .titulo-seccion {
    font-size: 7vw;
  }

  .subtitulo1 {
    font-size: 5.5vw;
  }

  .parrafo1 {
    font-size: 4.5vw;
  }

  .seccion-fotografa {
    display: flex;
    flex-direction: column;
  }

  .joven-texto {
    width: 100%;
  }

  .fotografa {
    width: 50%;
    margin-left: 10em;
  }

  .galeria {
    grid-template-columns: auto auto;
  }

  .boton-volver {
    right: 1em;
  }
}
@media only screen and (min-width: 461px) and (max-width: 600px) {
  header {
    margin-bottom: 46%;
  }

  .diafragma-div {
    top: 6em;
    width: 11%;
  }

  .show {
    margin-right: 58%;
  }

  .navbar-brand {
    margin-bottom: 0.8em;
    margin-left: 2.5em;
  }

  .carousel {
    max-width: 190px;
  }

  .texto-container {
    padding: 0.5em;
  }

  .titulo-seccion {
    font-size: 6vw;
  }

  .subtitulo1 {
    font-size: 4.5vw;
  }

  .parrafo1 {
    font-size: 3.5vw;
  }

  .joven-texto {
    width: 100%;
  }

  .fotografa {
    width: 65%;
    margin-bottom: 20em;
    margin-top: 20em;
  }

  .boton-volver {
    right: 3em;
  }

  .galeria {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 741px) {
  .diafragma-div {
    top: 6em;
    width: 9%;
  }

  .show {
    margin-right: 67%;
  }

  .navbar-brand {
    margin-bottom: 0.75em;
    margin-left: 2.5em;
  }

  .carousel {
    max-width: 220px;
  }

  .texto-container {
    padding: 1em;
  }

  .titulo-seccion {
    font-size: 5vw;
  }

  .subtitulo1 {
    font-size: 3.5vw;
  }

  .parrafo1 {
    font-size: 3vw;
  }

  .fotografa-container {
    display: flex;
    align-items: center;
  }

  .fotografa {
    width: 65%;
  }

  .galeria {
    grid-template-columns: auto auto;
  }

  .boton-volver {
    right: 5em;
  }
}
@media only screen and (min-width: 742px) and (max-width: 840px) {
  .diafragma-div {
    width: 8%;
  }

  .show {
    margin-right: 70%;
  }

  .navbar-brand {
    margin-bottom: 0.5em;
    margin-left: 2.5em;
  }

  .carousel {
    max-width: 260px;
  }

  .texto-container {
    padding: 2em;
  }

  .titulo-seccion {
    font-size: 3vw;
  }

  .subtitulo1 {
    font-size: 3vw;
  }

  .parrafo1 {
    font-size: 2.5vw;
  }

  .joven-texto {
    width: 70%;
  }

  .fotografa {
    width: 70%;
  }

  .boton-volver {
    right: 5em;
  }
}
@media only screen and (min-width: 841px) and (max-width: 1000px) {
  .diafragma-div {
    width: 7%;
  }

  .show {
    margin-right: 75%;
  }

  .carousel {
    max-width: 340px;
  }

  .joven-texto {
    width: 65%;
  }

  .subtitulo1 {
    font-size: 3.5vw;
  }

  .parrafo1 {
    font-size: 2.5vw;
  }

  .fotografa {
    width: 75%;
  }

  .boton-volver {
    right: 5em;
  }
}

/*# sourceMappingURL=style.css.map */
