
body {
    background-color: rgb(255, 255, 255);
    background-image: url(../imagenes/tetete.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    font-size: 10px;
  }

.titulo-container {

  position: absolute;
  top: 7em;
  right: 1em;
  text-align: right;
}
  .titulo {
  font-family: 'Tangerine', cursive;
  font-weight:500 ;
  color: rgb(100, 28, 40);
  z-index: 9;
  font-size: 3em;
  object-fit: contain;
  }
  
  li {
    margin: 0 1em 0 1em;
}

.panel1-container {
  float: right;
  width: 25%;
  height: auto;
  margin-bottom: 8em;
}
.panel1 {
  float: right;
  width: 100%;
  height: auto;
}

  /*LOGO BEINHORN*/
  
  .diafragma-div {
    position: absolute;
    top: 0.5em;
    width: 10%;
    left: 22em;

    .diafragma {
      max-width: 100%;
      height: auto;
    }

}
  .diafragma-div :hover {
    transform: rotate(360deg);
    transition: transform 3s;
}
  .bph-div {
    position: absolute;
    top: 13.7em;
    right: 4.3em;
    z-index: 9;
  }
  .bph {
    max-width: 100%;
    height: auto;
  }
  
  /*Navbar*/
  
  
  .navbar {
    padding: 0px;
    
  } 
  .container-fluid {
   
    height: 70px;
    font-size: 2.0em;
    font-family: 'Bad Script', cursive;
    position: absolute;
    top: 0em;
  }
 
.navbar-toggler {
  margin-top: 0.75em;
margin-bottom: 0.75em;
}

  .show {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.818);
    border-radius: 1em;
    margin-right:85%;
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  .navbar-brand {
    font-size: 1.4em;
    font-family: 'Tangerine', cursive;
    font-weight:500 ;
    background-color: rgb(255, 255, 255, 0.818);
    border-radius: 0.5em;
    border: 0.1em solid rgb(255, 204, 204);
    padding: 0 0.43em 0 0.43em;
  }

  

  
   
    
   
  