/*SECCION INICIO*/

/*BODY*/
body {
    background-color: rgb(255, 255, 255);
    background-image: url(../imagenes/tetete.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    font-size: 10px;
  }
/*HEADER*/
header {
  margin-bottom: 40%;
}

 /*NAVBAR*/
  
 .navbar {
  padding: 0px;
  
} 
.container-fluid {
 
  height: 70px;
  font-size: 2.0em;
  font-family: 'Bad Script', cursive;
  position: absolute;
  top: 0em;
}

.navbar-toggler {
margin-top: 0.75em;
margin-bottom: 0.75em;
}

li {
margin: 0 1em 0 1em;
}
 /*Navbar desplegado*/
.show {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.818);
  border-radius: 1em;
  margin-right:80%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-brand {
  margin: 0.5em 0em 0.5em 2.5em;
  font-size: 1.4em;
  font-family: 'Tangerine', cursive;
  font-weight:500 ;
  background-color: rgb(255, 255, 255, 0.818);
  border-radius: 0.5em;
  border: 0.1em solid rgb(255, 204, 204);
  padding: 0 0.43em 0 0.43em;
}

/*Animación del navbar desplegado*/
.nav-item:hover {
    animation: glowing 5000ms infinite;
  }
  @keyframes glowing {
    0% { box-shadow: 0 0 -10px #ffa0a8;
    border-radius: 1em; }
    40% { box-shadow: 0 0 20px #ffa0a8; 
      border-radius: 1em;}
      100% { box-shadow: 0 0 -10px #ffa0a8;
        border-radius: 1em; }
  }
  

  /*LOGO*/
  
  .diafragma-div {
    width: 5%;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

    .diafragma {
      max-width: 100%;
      height: auto;
    }

    /*Animación Logo*/
    .diafragma-div :hover {
       transform: rotate(360deg);
       transition: transform 3s;
}
  
 

  

  
   
    
   
  