/* -----QUERY MEDIA-----*/
@media only screen and (max-width: 460px ) {

  .titulo-container {
    top: 6em;
  }
  .titulo {
    font-size: 1.5em;
  }
  .diafragma-div {
    top: 8em;
  }
  .diafragma {
    width: 90%;
  }
  
  .bph {
    width: 25%;
  }
.carousel {
    max-width: 160px;
}
.texto-container {
padding: 0.5em;

}
.titulo-seccion {
  font-size: 4vw;
}
.subtitulo1 {
 font-size: 3.5vw;
}
.parrafo1 {
 font-size: 3vw;
}

.joven-fotografa {
  display: flex;
  flex-direction: column;
}

.joven-texto {
  width: 100%;

}
.fotografa-container {
display: flex;
justify-content: center;
}
.fotografa {
  width: 50%;
    
  
}

    }



    @media only screen and (min-width: 461px) 
    and (max-width: 600px) {
      
      .titulo-container {
        top: 6em;
      }
      .titulo {
        font-size: 1.5em;
      }
      .diafragma {
        width: 90%;
      }

      .diafragma-div {
        top: 8em;
      }

      .bph {
        width: 50%;
      }
       .carousel {

        max-width: 190px;
       }
       .texto-container {
        padding: 0.5em;
       }
       .titulo-seccion {
        font-size: 3.5vw;
      }
      .subtitulo1 {
       font-size: 3vw;
      }
      .parrafo1 {
       font-size: 2.5vw;
      }
      .joven-fotografa {
        padding: 2em;
       }
       .joven-texto {
        width: 80%;
  
      }
      .fotografa-container {
       padding-top: 5em;
        }
       .fotografa {
        width: 65%;
      }


      }
    
    @media only screen and (min-width: 600px) 
    and (max-width: 741px) {
      
      .titulo-container {
        top: 6em;
      }
      .titulo {
        font-size: 1.8em;
      }
      .diafragma {
        max-width: 90%;
      }

      .diafragma-div {
        top: 8.5em;
      }

      .bph {
        width: 50%;
      }
       .carousel {

        max-width: 220px;
       }

       .texto-container {
        padding: 1em;
       }
       .titulo-seccion {
        font-size: 3.0vw;
      }
      .subtitulo1 {
       font-size: 2.5vw;
      }
      .parrafo1 {
       font-size: 2vw;
      }
      .fotografa-container {
        padding-top: 5em;
         }
       .fotografa {
        width: 65%;
      }
          
    }
    
    @media only screen and (min-width: 742px) 
    and (max-width: 840px) {

      .titulo-container {
       top: 6.5em; 
      }
      .titulo {
        font-size: 2em;
      }
      .diafragma-div {
        top: 9em;
      }

      .bph {
        width: 60%;
      }
        .carousel {
            max-width: 260px;
        }
        .texto-container {
          padding: 2em;
         }
         .titulo-seccion {
          font-size: 2.8vw;
        }
        .subtitulo1 {
         font-size: 2.3vw;
        }
        .parrafo1 {
         font-size: 1.8vw;
        }
        .joven-texto {
          width: 70%;
    
        }
        .fotografa {
          width: 70%;
        }
        
    }
    @media only screen and (min-width: 841px) 
    and (max-width: 1000px) {
    
      .titulo {
        font-size: 2.5em;
      }

      .diafragma-div {
        top: 10em;
      }
  
      .bph {
        width: 75%;
      }

        .carousel {
            max-width: 340px; 

          }

          .joven-texto {
            width: 65%;
          }
        .fotografa {
            width: 75%;
          }
      
    }