/*-----QUIENES SOMOS-----*/


.texto-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
background: rgb(255, 255, 255);
border-radius: 1em;
border: 0.5em solid rgb(255, 204, 204);
padding: 5em;
}

  /* Texto informativo*/

  .cuerpo-texto {
    width: 90%;
    max-height: 100%;
    margin: 0 auto;
  }
  .titulo-seccion {
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Open Sans Condensed';
  }
  .subtitulo1 {
   text-align: center;
   margin-top: 2.9em;
   font-size: 2vw;
   font-family: 'Open Sans Condensed';
   font-weight: bold;
  }
  .parrafo1 {
   text-align: justify;
   font-size: 1.5vw;
   font-family: 'Open Sans Condensed';
   
  }

/*Carrusel de Bootstrap*/

.carousel {
  max-width: 400px;
  margin: 0 auto;
}
.carousel-inner{
    height: 100%;
    width: 100%;
    z-index: $zind;
  }
  
.carousel-item {
  height: 100%;
  width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}  
/*SOBRE NOSOTROS*/
.joven-fotografa {
background: rgb(255, 255, 255);
border-radius: 1em;
border: 0.5em solid rgb(255, 204, 204);
padding: 4em;
display: flex;
flex-direction: row;

}
.joven-texto {
  width: 80%;
  max-height: 100%;
}


.fotografa {
  width: 85%;
}

  /*Fondo de bebe rugiendo*/


.leona-container {
 background-image: url('imagenes/lulu-roar.png');


.lulu-ruge {
  width: 100%;
}

}
.boton-volver {
  position: absolute;
  right: 15em;
  background-color: rgb(255,255,255);
  border: 0.3em solid rgb(255, 204, 204);
  border-radius: 5em;
  width: 10em;
  height: 10em;
  margin-top: 3em;

}
.flecha-volver {
  width: 55%;
  margin-left: 2.2em;
  margin-top: 0.5em;
}