/*MEDIA QUERYS*/

        
@media only screen and (max-width: 450px) {

    .figura2{

        height: 4vw;
        width: 4vw;
        top: 9vw;
        left: 27vw;
    }

    .linea2{

        left: -1vw;
    }
    .linea3{
        left: -5vw;
    }
    .light1, .light2, .light3, .light4, .light5{
    
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        
    }
   
    .welcome-text {

        font-size: 4vw;
    }

    #backButtonContainer{

        width: 18vw;
        height: 10vw;
    }

    h3 {

        font-size: 14px;
    }

    #backButton {

        height: 30px;
        width: 20px;
    }
    #data-section {

        margin: 40vw 0vw;
        overflow-x: scroll;
        max-width: fit-content;
        width: 100%;
        height: fit-content;
        scroll-snap-type: x mandatory;
    }   
    .fireflyBox2 {
        flex: 1 0 auto;
        scroll-snap-align: start;
        width: 100px; 
        margin: 9vw 3vw;
    }

    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: radial-gradient(rgb(255, 255, 255), rgba(204, 226, 255, 0.8));
    }
    
    ::-webkit-scrollbar
    {
        width: 10px;
        background-color: #00505a;
    }
    
    ::-webkit-scrollbar-thumb
    {
        background-color: #002fff;
        background: linear-gradient(rgba(42, 27, 255, 0.8), rgba(0, 0, 0, 0.8));
        border-radius: 3vw;
        border: 2px solid #ffffff;
    }



    .photobackground{

        height: 50vw;
        width: 30%;
        left: 35%;
    
    }
    .fotoperfil {

        width: 60%;
        height: 45%;
        margin: 2vw 6vw;
    }
} 

@media only screen and (min-width: 451px) and (max-width: 668px){

    .light1, .light2, .light3, .light4, .light5{
    
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
        filter: blur(30px);
        
    }
    .welcome-text {

        font-size: 3vw;
    }
    .figura4{
        left: -5vw;
    }
    .linea5 {
        left: -4vw;
    }


    #data-section {

        margin: 40vw 0vw;
        overflow-x: scroll;
        max-width: fit-content;
        width: 100%;
        height: fit-content;
        scroll-snap-type: x mandatory;
    }   
    .fireflyBox2 {
        flex: 1 0 auto;
        scroll-snap-align: start;
        width: 100px; 
        margin: 9vw 3vw;
    }

    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: radial-gradient(rgb(255, 255, 255), rgba(204, 226, 255, 0.8));
    }
    
    ::-webkit-scrollbar
    {
        width: 10px;
        background-color: #00505a;
    }
    
    ::-webkit-scrollbar-thumb
    {
        background-color: #002fff;
        background: linear-gradient(rgba(42, 27, 255, 0.8), rgba(0, 0, 0, 0.8));
        border-radius: 3vw;
        border: 2px solid #ffffff;
    }




    #backButtonContainer{

        width: 22vw;
        height: 12vw;

    }

    .photobackground{

        width: 30%;
        left: 35%;
    
    }
    .fotoperfil{

        width: 66%;
        height: 55%;
    }

    
    
 }
@media only screen and (min-width: 669px) and (max-width: 700px) {

    .linea3 {

        top: 3vw;

    }
    .linea4 {

        top: 9.5vw;

    }
    .figura2{

        top: 6.5vw;
    }
    .figura3 {
        top: 4vw;
    }

    .light1, .light2, .light3, .light4, .light5{
    
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
        filter: blur(30px);
        
    }
    .welcome-text {

        font-size: 3vw;
    }
    .paragraph {
        font-size: 2.5vw;
    }
   
    span {

        font-size: 4.5vw;
    }
    #backButtonContainer{

        width: 20vw;
        height: 9vw;
    }

    .photobackground{

        width: 30%;
        left: 65%;
    
    }
    .fotoperfil{

        width: 66%;
        height: 55%;
    }

    #portfolio, #personal-data, #about-me{

        width: 60%;
        object-fit: cover;
     }

} 

/*Tablets*/
@media only screen and (min-width: 701px) and (max-width: 945px) {

    .linea3 {
        top: 5.5vw;
    }
    .light1, .light2, .light3, .light4, .light5{
    
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
        filter: blur(30px);
        
    }
    .paragraph {
        font-size: 2vw;
    }
   
    span {

        font-size: 4vw;
    }
    #backButtonContainer{

        width: 15vw;
        height: 7.5vw;
    }
    .photobackground{

        width: 30%;
        left: 65%;
    
    }
    .fotoperfil{

        width: 66%;
        height: 55%;
    }
    #portfolio, #personal-data, #about-me{

        width: 60%;
        object-fit: cover;
     }
}


/*tablets grandes y netbooks*/
@media only screen and (min-width: 946px) and (max-width: 1110px){

    .linea3 {

        top: 3vw;

    }
    .figura2{

    top: 6.5vw;
    }

    .figura3{

        top: 6.5vw;
        left: 0.2vw;
    }

    .paragraph {
        font-size: 1.5vw;
    }
   
    span {

        font-size: 3vw;
    }
    #backButtonContainer{

        width: 11vw;
        height: 6vw;
    }
    #portfolio, #personal-data, #about-me{

        width: 60%;
        object-fit: cover;
     }
}

@media only screen and (min-width: 1111px){

    .linea3 {

        top: 1.45vw;

    }
    .linea4 {

        top: 1.5vw

    }
    .figura2{

    top: 5vw;
}

    .figura3{

        top: 2.4vw;
    }

    .paragraph {
        font-size: 1.5vw;
    }
   
    span {

        font-size: 3vw;
    }


    #backButtonContainer{

    width: 10vw;
    height: 4vw;
    align-items: center;
}
#portfolio, #personal-data, #about-me{

    width: 60%;
    object-fit: cover;
 }

}
