/* */ 
body {

    margin: 0;
    padding: 0;
    /*font-family: 'Open-Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #0d1b2a;
    background: linear-gradient(90deg, rgb(55, 52, 73) 0%, rgb(56, 56, 122) 35%, rgb(78, 109, 116) 100%);
   
    
}

.developerBody {

    background-image: url('images/codebackground8.jpg');
    background-size: 160vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.developer-body {

    background-image: url('images/codebackground.jpg');
    background-size: cover;
}


#main-header {
    background:  radial-gradient(ellipse at top, rgb(55, 52, 73), transparent),
                 radial-gradient(ellipse at bottom, rgb(101, 101, 139), transparent);
    color: white;
    padding: 2 rem 5%;
    text-align: center;
    border-radius: 3px;
    border: solid #59a1ff;
    margin-bottom: 2vw;

}

/*INITIAL WINDOW*/
#backdrop {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.fireflyBox {

    width: 50vw;
    height:fit-content;
    margin: auto;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3vw;
    border: solid #778da9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(55, 52, 73) 0%,  rgb(56, 56, 122) 100%);
    position: relative;


}
.welcome-text {
    font-size: 2vw;
    font-weight:bold;
    color: white;
    text-align: center;
}


.button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin: 1vw;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:hover {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:hover {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}





/*ventana principal*/
#choose-section {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    display: none;
    
    
    }
#modal, #modal2 {

        font-family: 'Open-Sans', sans-serif;
        background-color: white;
        width: 40%;
        padding: 1rem;
        border-radius: 20px;
        border: solid #778da9 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin: 3vw;
        text-align: center;
        position: relative;
        overflow: hidden;
        
     }




/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/


/*--Botón Back----------------*/

#backButtonContainer{

    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(16, 0, 87) 100%);
    border: solid #778da9 3px;
    border-radius: 3vw;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 14vw;
    margin: 2vw;
    padding: 0.5vw;
}
#backButton {

    float: block-start;
    position: relative;
}
#backButtonText{

    color:white;

}
/*------------------------------------DATA-SECTION------------------------------------------*/

#data-section {

    display: none;
    margin: 25vw 0vw;
}   

.fireflyBox2 {

    height:fit-content;
    margin: 2vw 3vw;
    padding: 1vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    border-radius: 3vw;
    color:white;
    border: solid #778da9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background: linear-gradient(rgba(55, 52, 73, 0.8), rgba(56, 56, 122, 0.8));
    /* (90deg, rgb(55, 52, 73) 0%,  rgb(56, 56, 122) 100%); */
    position: relative;
    cursor: pointer;
    

}

#portfolio{

   width: 100%;
   object-fit: cover;
}
#personal-data{
    width: 100%;
    object-fit: cover;
}

#about-me{
    width: 100%;
    object-fit: cover;
}


.photobackground{

    width: 25%;
    background: radial-gradient(rgba(55, 52, 73, 0.6), rgba(56, 56, 122, 0.6));
    border-radius: 5vw;
    padding: 1vw;
    border: solid #778da9 6px;
    position: absolute;
    top: 5%;
    left: 70%;

}


.fotoperfil {

    width: 56%;
    height: 45%;
    margin: 2vw 5vw;
    border-radius: 5vw;
    float: right;
}


.background-cover {

    background: linear-gradient(90deg, rgb(55, 52, 73) 0%, rgb(56, 56, 122) 35%, rgb(78, 109, 116) 100%);
    height:fit-content;
    width: 80%;
    border-radius: 20px;
    top: 40vw;
    border: solid #59a1ff;

}
.text-bubble{

    font-family: 'Open-Sans', sans-serif;
        background-color: white;
        width: 80%;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin: auto;
        text-align: center;
        overflow: hidden;
    
}
#textAboutMe, #textPersonalData, #portfolioLinks {
    display: none;
}
#textAboutMe.open, #textPersonalData.open, #portfolioLinks.open {
    display: block;
} 

span {

    font-size: 5vw;
}

.paragraph {
    font-size: 3vw;
    font-weight:bold;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.iconImg {

    width: 9%;
    height: 9%;
    margin: 1.2vw 1vw 0vw 0vw;
}
/*cellphone icon*/
.iconImg2 {

    width: 7%;
    height: 7%;
    margin: 1.2vw 1.8vw 0vw 0vw;
}

/* .container {

display: flex;
flex-wrap: nowrap;
overflow-x: scroll;
scroll-snap-type: x mandatory; 
}

.uno {
    background-color: #fff;
}

.dos {
    background-color:aqua;
}

.tres {
    background-color: #fff;
}

.cuatro {
    background-color:aqua;
}
.cinco {
    background-color: #3ce065;
}
.uno, .dos, .tres, .cuatro, .cinco {

flex: 1 0 auto;
height: 200px;
width: 200%;
margin: 10px;
scroll-snap-align: center;

} */